<section class="footer clearfix">
    <div class="one">
        <ul >
            <li class="store">team</li>
            <li>
                Juliano Kuvanzhi
                <br>
                Eugene Lozov
            </li>
        </ul>
    </div>
    <div class="two">
        <ul >
            <li class="store">social</li>
            <li><a href=""></a>Facebook</li>
            <li><a href=""></a>Instagram</li>
            <li><a href=""></a>Contact us</li>
        </ul>
    </div>
    <div class="three">
        <ul >
            <li class="store">office</li>
            <li>
                Kiev, Ukraine
                <br>
                Konovaltsa Street, 36d
            </li>
        </ul>

    </div>
</section>