<section class='main' ng-controller="TabController as tab">
    <div class="main__nav">
        <ul>
            <li ng-class="{ active:tab.isSet(1) }">
                <a href ng-click="tab.setTab(1)">{{tab.phones[0].title}}</a>
            </li>
            <li ng-class="{ active:tab.isSet(2) }">
                <a href ng-click="tab.setTab(2)">{{tab.phones[1].title}}</a>
            </li>
            <li ng-class="{ active:tab.isSet(3) }">
                <a href ng-click="tab.setTab(3)">{{tab.phones[2].title}}</a>
            </li>
        </ul>
        <blockquote ng-show="tab.isSet(1)">{{tab.phones[0].description}}</blockquote>
        <blockquote ng-show="tab.isSet(2)">{{tab.phones[1].description}}</blockquote>
        <blockquote ng-show="tab.isSet(3)">{{tab.phones[2].description}}</blockquote>
    </div>


    <div class="main__container" >
        <img class="phone" src="img/phone.png" alt="">
        <div class="phone__content">
            <img  class="animate" ng-class="animate" ng-show="tab.isSet(1)" ng-src={{tab.phones[0].img}} alt="">
            <img  class="animate" ng-class="animate" ng-show="tab.isSet(2)" ng-src={{tab.phones[1].img}} alt="">
            <img  class="animate" ng-class="animate" ng-show="tab.isSet(3)" ng-src={{tab.phones[2].img}} alt="">
        </div>
    </div>


</section>
