.footer
  display: block
  position: fixed
  bottom: 0
  width: 100%
  height: 10vh
  ul
    display: inline-block
    list-style: none
    li
      display: inline-block
  .one, .two, .three
    font-size: 8px
    display: inline-block
    width: 32%
  .three
    margin-right: 30px
    text-align: right
    line-height: 20px
    .store
      margin-right: 45px
  .two
    text-align: center
    font-size: 10px
    li
      margin: 0 20px
      a:hover
        cursor: pointer
  .one
    line-height: 20px
    .store
      margin-right: 45px
      margin-bottom: 5px











