.footer
  display: block
  height: 200px
  width: 100%
  background-color: #f4f4f4
  &__subscribe
    max-width: 510px
    padding: 58px 0
    margin: 0 auto
    .email
      text-align: center

      input
        height: 40px
        width: 320px
        border: none
        padding: 5px 20px
        font-size: 16px
        color: #f3f2f0
      button
        float: right
        top: 0
        width: 136px
        height: 50px
        background-color: #ffd93c
        border: none








