.header
  width: 100%
  display: block
  padding: 0
  margin: 0
  &__top
    height: 38px
    background-color: #f4f4f4
    color: #afac9c
    text-transform: uppercase
    text-align: center
    vertical-align: middle
    font-weight: bold
    font-size: 9px
    line-height: 38px
    letter-spacing: 1.5px
    span
      font-weight: 500
  &__container
     border-bottom: 1px solid #ebeae6
  &__content
    margin: 0 auto
    max-width: 1190px
    height: 75px
    text-align: center
  &__logo
    display: inline-block
    margin-left: 110px
    text-indent: -9999px
    text-align: center
    .main-logo
      width: 50px
      height: 50px
      background: url(../img/logo.svg)
      background-size: 50px 50px
      margin-top: 13px
      margin-bottom: 13px
  &__contact
    position: relative
    float: right
    height: 75px
    width: 110px
    line-height: 75px
    vertical-align: middle
    text-align: center
    letter-spacing: 1.5px
    font-size: 10px
    font-weight: bold
    text-transform: uppercase
    a
      color: #ffdd4e
      text-decoration: none
    p
      margin: 0
    &:hover
      .line
        position: absolute
        bottom: 0
        height: 3px
        width: 110px
        background-color: #ffdd4e