.header
  width: 100%
  height: 10vh
  display: block
  padding: 0
  margin: 0
  font-family: "Museo Sans Cyrl", "Roboto", Arial
  height: 10vh
  ul
    display: block
    text-align: center
    margin-top: 5px
    li
      display: inline-block
      vertical-align: middle
      color: #232327
      line-height: 100px
      &:first-child
        color: #a8a8a8
        font-weight: bold
        font-size: 14px
        margin-right: 40px
      &:nth-child(2)
        font-size: 11px
