.main
  margin: 0 auto
  text-align: center
  min-height: 70vh
  height: 70vh
  margin-top: 5%

  img
    height: 65px
    width: 65px
  h2
    margin-bottom: 20px
  .bottom
    margin-top: 200px
    color: #eee
    font-size: 10px
.store
  font-size: 14px
  color: #eee





