.main
  display: block
  max-width: 920px
  margin: 78px
  &__nav
    display: block
    li
      display: inline-block
      list-style-type: none
      padding: 0 11px

.phone__container
    position: relative
    background-image: src('../images/phone.png')
img
  position: absolute
  height: 500px
  width: auto
  float: right
  top: 0

